# Framework principal
Django==5.0.6

# Servidor de producción (para Render)
gunicorn==22.0.0

# Base de datos (PostgreSQL en Render)
dj-database-url==2.1.0
psycopg2-binary==2.9.9

# Servir archivos estáticos (CSS/JS) en producción
whitenoise==6.7.0

# Manejo de imágenes (Galería y Servicios)
Pillow==12.0.0

# Autenticación (Login con Google)
django-allauth==0.61.1
oauthlib==3.2.2
requests-oauthlib==2.0.0

# Otras dependencias que 'allauth' podría necesitar
python3-openid==3.2.0
requests==2.32.3

dateutil==2.8.2




