# Framework principal
Django

# Servidor de producción (para el Procfile)
gunicorn

# Servir archivos estáticos (CSS, iconos)
whitenoise

# Base de datos de Render (PostgreSQL)
dj-database-url
psycopg2-binary

# Manejo de imágenes (Galería y Servicios)
Pillow

# Autenticación (Login con Google)
django-allauth
